<main class="todo-container">
  <div class="add-task">
    <input type="text" [(ngModel)]="newTask" placeholder="Enter new task">
    <button type="button" (click)="addNewTask()">Add</button>
  </div>
  <ul class="task-list">
    @for (todo of todoList; track $index) {
    <li [ngClass]="{'completed':todo.completed}">
      <input type="checkbox" 
      (change)="toggleCompleted($index)" 
      [(checked)]="todo.completed" 
      />
      <span [class.completed]="todo.completed">{{ todo.task }}</span>
      <button (click)="deleteTask(todo.id)">Delete</button>
    </li>
    }
  </ul>
</main>